@import url(reset.css);
body{
  width:100vw;
}

h1{
  text-align:center;
  font-size:3em;
}

section{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section > span{
  font-size: 1.2em;
}



#canvas {
  width: var(--nivel);
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  margin: 1em auto;
}

.casilla {
  width: 2em;
  height: 2em;
  margin:0;
  padding:0;
  border: 1px solid black;
  background-color:#d0d8f7;
}

.casilla.descubierta{
  background-color:white;
}

.cercania1::after{
  background-color:#e2e174de;
  content:"1";
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 2em;
  vertical-align: middle;
}

.cercania2::after{
  background-color:#e6b657d6;
  content:"2";
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 2em;
  vertical-align: middle;
}

.cercania3::after{
  background-color:#e46d12c2;
  content:"3";
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 2em;
  vertical-align: middle;
}

.cercania4::after{
  background-color:#dc3939;
  content:"4";
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 2em;
  vertical-align: middle;
}

.casilla.descubierta.bomba{
  background-color:red;
  background-image:url('../images/clock.svg');
  background-repeat: no-repeat;
  background-position: center;
}